
      <!-- Bootstrap-->
    <link rel="stylesheet" href="themes/bartik/css/bootstrap.min.css">
    <link rel="stylesheet" href="themes/bartik/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="themes/bartik/css/slider.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn\'t work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



    <!-- My Map CSS -->
    <link rel="stylesheet" href="themes/bartik/css/mymap.css">



    <div id="wrap">
      <div id="main" class="container clear-top">

        <div class="container" style="width:100%">
          <div class="row">
            <div class="col-md-8">
              <div id="map"></div>
            </div>
            <div class="col-md-4" id="side">

              <!-- Control Panel -->
              <div class="side-item">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Control</h3>
                  </div>
                  <div class="panel-body">

                    <div class="col-lg-12">
                      <div class="input-group">
                        <span class="input-group-addon" style="width:70px;">LAT</span>
                        <input type="text" class="form-control" id="lat">
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon" style="width:70px;">LON</span>
                        <input type="text" class="form-control" id="lon">
                      </div>
                      <br />

                      <button class="btn btn-default" id="btn_mylocation">
                        <span class="glyphicon glyphicon-user"></span>
                      </button>
                      <button type="submit" class="btn btn-default" id="btn_gotolocation">
                        <span class="glyphicon glyphicon-send"></span> Jump to Location
                      </button>

                    </div>

                  </div>
                </div>
              </div>


              <!-- Road Panel -->
              <div class="side-item">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Road</h3>
                  </div>
                  <div class="panel-body">

                    <div class="row">
                      <div class="col-lg-12">
                        <div class="input-group">
                          <input type="text" class="form-control" id="searchroadbox">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn_searchroad">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <!-- Search Result -->
                    <div class="list-group" id="searchroad_result"></div>
                  </div>
                </div>
              </div>




              <!-- Geometries Panel -->
              <div class="side-item">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Geometries</h3>
                  </div>
                  <div class="panel-body">

                    <button class="btn btn-default" id="btn_addline">
                        <span class="glyphicon glyphicon-map-plus"></span> Add Line
                    </button>
                    <button class="btn btn-default" id="btn_finishaddline">
                        <span class="glyphicon glyphicon-map-plus"></span> Finish
                    </button>
                  </div>
                </div>
              </div>



              <!-- Search Panel -->
              <div class="side-item">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Search</h3>
                  </div>
                  <div class="panel-body">

                    <div class="row">
                      <div class="col-lg-12">
                        <div class="input-group">
                          <input type="text" class="form-control" id="searchbox">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn_search">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <!-- Search Result -->
                    <div class="list-group" id="search_result"></div>
                  </div>
                </div>
              </div>


              <!-- Marker Panel -->
              <div class="side-item">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Marker</h3>
                  </div>
                  <div class="panel-body">

                    <button type="submit" class="btn btn-default" id="btn_droppin">
                        <span class="glyphicon glyphicon-map-marker"></span> Drop a Pin
                    </button>



                    <button type="submit" class="btn btn-default" id="btn_addpopup">
                        <span class="glyphicon glyphicon-comment"></span> Add Popup
                    </button>

                  </div>
                </div>
              </div>





            </div>



          </div>
        </div>
      </div>


    </div>






   <!-- jQuery -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <!-- Bootstrap JavaScript -->
  <script type="text/javascript" src="themes/bartik/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="themes/bartik/js/bootstrap-slider.js"></script>

  <!-- Longdo Map -->
  <script type="text/javascript" src="http://api.longdo.com/map/?key=3ac57402610ff2f77011e420468e482c"></script>

  <!-- My Map JS -->
  <script type="text/javascript" src="themes/bartik/js/mymap.js"></script>
